{% include 'adminheader.html'%}


      
<h1>VIEW FEEDBACK</h1>



<table class="table" id="customers" >
    <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
          
                <th>FEEDBACK</th>
             
                <th>DATE</th>
                
{% for row in cus %}
            <tr>
                <td>{{row.customer.fname}}</td>
                <td>{{row.customer.lname}}</td>
                <td>{{row.feedback}}</td>
                <td>{{row.date}}</td>
                
              
            </tr>
{%endfor%}
        </table>

{% include 'footer.html'%}

