{% include 'customer_header.html' %}
{% include 'tempheader.html' %}


       
<h1>VIEW ORDER DETAILS</h1>
{% include 'temp_footer.html'%}

<table class="table" id="customers" >
    <tr>
                <th>PRODUCT</th>
                <th>IMAGE</th>
                <th>QUANTITY</th>
                <th>AMOUNT</th>
               
            {% for row in q %}
            <tr>
                <td>{{row.product.product}}</td>
                <td><img src="/static/media/{{row.product.image}}" width="100" height="100" alt=""></td>
                <td>{{row.qty}}</td>
                <td>{{row.bamt}}</td>
                {% if row.booking.status == "delivered"%}

                <td> <a class="btn btn-primary" href="/customer_add_ratings/{{row.product_id}}"> rating</a></td>
                <td> <a class="btn btn-primary" href="/customer_send_feedback/{{row.booking_id}}/{{row.product_id}}"> feedback</a></td>
{%endif%}
            </tr>
            {%endfor%}
        </table>
   

{% include 'cfooter.html'%}

